@import "tailwindcss";
@theme {
  --font-family-roboto: Roboto, sans-serif;
  --color-tomato: hsl(4, 100%, 67%);
  --color-darkslate: hsl(234, 29%, 20%);
  --color-charcoal: hsl(235, 18%, 26%);
  --color-gray: hsl(231, 7%, 60%);
}
